<!-- <div class="card" clas="header" style="background-color:darkgray">
  <ul>

    <li style="list-style-type: none;float: left;padding: 5px;">
      <a style="text-decoration: none;" routerLinkActive="active" routerLink="/registration">Registration</a>
    </li>
    <li style="list-style-type: none;float: left;padding: 5px;">
      <a style="text-decoration: none;" routerLinkActive="active" routerLink="/login">Sing-In</a>
    </li>
    <ng-container *ngIf="authService.isAdmin">
      <li style="list-style-type: none;float: left;padding: 5px;">
        <a style="text-decoration: none;" routerLinkActive="active" routerLink="/products">Products</a>
      </li>
      <li style="list-style-type: none;float: left;padding: 5px;">
        <a style="text-decoration: none;" routerLinkActive="active" routerLink="/categories">Category</a>
      </li>
      <li style="list-style-type: none;float: left;padding: 5px;">
        <a style="text-decoration: none;" routerLinkActive="active" routerLink="/admin-orders">AdmineOrders</a>
      </li>
    </ng-container>
    <li style="list-style-type: none;float: left;padding: 5px;">
      <a style="text-decoration: none;" routerLinkActive="active" routerLink="/userproduct">UserProducts</a>
    </li>
    <li style="list-style-type: none;float: left;padding: 5px;">
      <a style="text-decoration: none;" routerLinkActive="active" routerLink="/nav-bar">NavBar</a>
    </li>
    <li style="list-style-type: none;float: left;padding: 5px;">
      <a style="text-decoration: none;" routerLinkActive="active" routerLink="/login">Log out</a>
    </li>
  </ul>
</div> -->
<nav-bar></nav-bar>
<router-outlet></router-outlet>